<h1>Pages#new</h1>
<p>Find me in app/views/pages/new.html.erb</p>

<form action="/tasks" method="post">
  <label for="task">New Task:</label>
  <input type="text" name="task[name]" id="task">
  <input type="submit">
</form>
